<div class="container">
  <%= render 'header' %>

  <div class="mt-5 d-flex flex-column align-items-center">
    <h3 class="mb-4">New List</h3>
    <%= form_with model: @list, class: "d-flex flex-column align-items-center" do |form| %>
      <%= form.text_field :name, placeholder: :name, class: "form-control" %>
      <%= form.submit class: "btn btn-primary mt-3" %>
    <% end %>
  </div>

</div>
